.container-page
{
    .container-image
    {   
        display: flex;
        justify-content:center;
        margin-top: 42px;

        .image-logo
        {
            width:528px;
        }
    }  
}
// page espassamento interno 
// margem espassamento externo 
// centralizar a imagem  